# Men & Women Soccer Match - Hypothesis Testing

You're working as a sports journalist at a major online sports media company, specializing in soccer analysis and reporting. You've been watching both men's and women's international soccer matches for a number of years, and your gut instinct tells you that more goals are scored in women's international football matches than men's. This would make an interesting investigative article that your subscribers are bound to love, but you'll need to perform a valid statistical hypothesis test to be sure!

While scoping this project, you acknowledge that the sport has changed a lot over the years, and performances likely vary a lot depending on the tournament, so you decide to limit the data used in the analysis to only official `FIFA World Cup` matches (not including qualifiers) since `2002-01-01`.

You create two datasets containing the results of every official men's and women's international football match since the 19th century, which you scraped from a reliable online source. This data is stored in two CSV files: `women_results.csv` and `men_results.csv`.

The question you are trying to determine the answer to is:

> Are more goals scored in women's international soccer matches than men's?

You assume a **10% significance level**, and use the following null and alternative hypotheses:

$H_0$ : The mean number of goals scored in women's international soccer matches is the same as men's.

$H_A$ : The mean number of goals scored in women's international soccer matches is greater than men's.

In [87]:
import pandas as pd

from scipy.stats import mannwhitneyu
import pingouin

In [65]:
men_soccer = pd.read_csv(r'C:\Users\nene0\OneDrive\바탕 화면\Python Learning\Datacamp\8_Men_Women_Soccer\men_results.csv',
                         index_col=[0], parse_dates=['date'])
women_soccer = pd.read_csv(r'C:\Users\nene0\OneDrive\바탕 화면\Python Learning\Datacamp\8_Men_Women_Soccer\women_results.csv',
                           index_col=[0], parse_dates=['date'])

## Men's FIFA World Cup

In [66]:
men_soccer.head()

        date home_team away_team  home_score  away_score tournament
0 1872-11-30  Scotland   England           0           0   Friendly
1 1873-03-08   England  Scotland           4           2   Friendly
2 1874-03-07  Scotland   England           2           1   Friendly
3 1875-03-06   England  Scotland           2           2   Friendly
4 1876-03-04  Scotland   England           3           0   Friendly

In [67]:
men_soccer.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44353 entries, 0 to 44352
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        44353 non-null  datetime64[ns]
 1   home_team   44353 non-null  object
 2   away_team   44353 non-null  object
 3   home_score  44353 non-null  int64
 4   away_score  44353 non-null  int64
 5   tournament  44353 non-null  object
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 2.4+ MB

In [69]:
men_fifa = men_soccer[(men_soccer['date']>='2002-01-01')&(men_soccer['tournament']=='FIFA World Cup')]
men_fifa.reset_index(drop=True, inplace=True)
men_fifa.head()

,date,home_team,away_team,home_score,away_score,tournament
0,2002-05-31,France,Senegal,0,1,FIFA World Cup
1,2002-06-01,Germany,Saudi Arabia,8,0,FIFA World Cup
2,2002-06-01,Republic of Ireland,Cameroon,1,1,FIFA World Cup
3,2002-06-01,Uruguay,Denmark,1,2,FIFA World Cup
4,2002-06-02,Argentina,Nigeria,1,0,FIFA World Cup

In [70]:
men_fifa['total_goals'] = men_fifa['home_score'] + men_fifa['away_score']

C:\Users\nene0\AppData\Local\Temp\ipykernel_11596\2913716200.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  men_fifa['total_goals'] = men_fifa['home_score'] + men_fifa['away_score']

In [71]:
men_fifa.head()

,date,home_team,away_team,home_score,away_score,tournament,total_goals
0,2002-05-31,France,Senegal,0,1,FIFA World Cup,1
1,2002-06-01,Germany,Saudi Arabia,8,0,FIFA World Cup,8
2,2002-06-01,Republic of Ireland,Cameroon,1,1,FIFA World Cup,2
3,2002-06-01,Uruguay,Denmark,1,2,FIFA World Cup,3
4,2002-06-02,Argentina,Nigeria,1,0,FIFA World Cup,1

## Women's FIFA World Cup

In [72]:
women_soccer.head()

        date home_team  away_team  home_score  away_score        tournament
0 1969-11-01     Italy     France           1           0              Euro
1 1969-11-01   Denmark    England           4           3              Euro
2 1969-11-02   England     France           2           0              Euro
3 1969-11-02     Italy    Denmark           3           1              Euro
4 1975-08-25  Thailand  Australia           3           2  AFC Championship

In [73]:
women_soccer.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4884 entries, 0 to 4883
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        4884 non-null   datetime64[ns]
 1   home_team   4884 non-null   object
 2   away_team   4884 non-null   object
 3   home_score  4884 non-null   int64
 4   away_score  4884 non-null   int64
 5   tournament  4884 non-null   object
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 267.1+ KB

In [75]:
women_fifa = women_soccer[(women_soccer['date']>='2002-01-01')&(women_soccer['tournament']=='FIFA World Cup')]
women_fifa.reset_index(drop=True, inplace=True)
women_fifa.head()

,date,home_team,away_team,home_score,away_score,tournament
0,2003-09-20,Nigeria,North Korea,0,3,FIFA World Cup
1,2003-09-20,Norway,France,2,0,FIFA World Cup
2,2003-09-20,Germany,Canada,4,1,FIFA World Cup
3,2003-09-20,Japan,Argentina,6,0,FIFA World Cup
4,2003-09-21,United States,Sweden,3,1,FIFA World Cup

In [76]:
women_fifa['total_goals'] = women_fifa['home_score'] + women_fifa['away_score']

C:\Users\nene0\AppData\Local\Temp\ipykernel_11596\2653666328.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  women_fifa['total_goals'] = women_fifa['home_score'] + women_fifa['away_score']

In [77]:
women_fifa.head()

,date,home_team,away_team,home_score,away_score,tournament,total_goals
0,2003-09-20,Nigeria,North Korea,0,3,FIFA World Cup,3
1,2003-09-20,Norway,France,2,0,FIFA World Cup,2
2,2003-09-20,Germany,Canada,4,1,FIFA World Cup,5
3,2003-09-20,Japan,Argentina,6,0,FIFA World Cup,6
4,2003-09-21,United States,Sweden,3,1,FIFA World Cup,4

In [78]:
print(f"Men's FIFA World Cup dataframe has {men_fifa.shape[0]} rows.")
print(f"Women's FIFA World Cup dataframe has {women_fifa.shape[0]} rows.")

Men's FIFA World Cup dataframe has 384 rows.
Women's FIFA World Cup dataframe has 200 rows.

## Hypothesis Test - Unpaired Data

In [88]:
def unpaired_hypothesis_test(group_1, group_2, alternative, significance_level):
    stat, p_value = mannwhitneyu(group_1, group_2, alternative=alternative)
    if p_value < significance_level:
        print('Reject null hypothesis.')
    else:
        print('Fail to reject null hypothesis.')

In [89]:
unpaired_hypothesis_test(women_fifa['total_goals'], men_fifa['total_goals'], 'greater', 0.1)

Reject null hypothesis.

In [79]:
stat, p_value = mannwhitneyu(women_fifa['total_goals'], men_fifa['total_goals'], alternative='greater')
print(p_value)

0.005106609825443641

In [86]:
result_dict = {"p_val": p_value, "result": 'reject'}